/bootstrap/compiled.php

/node_modules
/public/hot
/public/storage
/public/uploads
/storage/app
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.env
.env.prod
updates/
composer.lock
*.lock

updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
public/uploads.zip
error_log
